In [4]:
import pandas as pd
pd.set_option('display.max_colwidth', -1)
import re
from string import digits
import nltk

In [5]:
df = pd.read_json('data/data.json')

In [21]:
# len(list(df))

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14337 entries, 0 to 14336
Data columns (total 47 columns):
acct_type             14337 non-null object
approx_payout_date    14337 non-null int64
body_length           14337 non-null int64
channels              14337 non-null int64
country               14256 non-null object
currency              14337 non-null object
delivery_method       14321 non-null float64
description           14337 non-null object
email_domain          14337 non-null object
event_created         14337 non-null int64
event_end             14337 non-null int64
event_published       14238 non-null float64
event_start           14337 non-null int64
fb_published          14337 non-null int64
gts                   14337 non-null float64
has_analytics         14337 non-null int64
has_header            8928 non-null float64
has_logo              14337 non-null int64
listed                14337 non-null object
name                  14337 non-null object
name_length           14337 non-null int64
num_order             14337 non-null int64
num_payouts           14337 non-null int64
object_id             14337 non-null int64
org_desc              14337 non-null object
org_facebook          14278 non-null float64
org_name              14337 non-null object
org_twitter           14278 non-null float64
payee_name            14337 non-null object
payout_type           14337 non-null object
previous_payouts      14337 non-null object
sale_duration         14182 non-null float64
sale_duration2        14337 non-null int64
show_map              14337 non-null int64
ticket_types          14337 non-null object
user_age              14337 non-null int64
user_created          14337 non-null int64
user_type             14337 non-null int64
venue_address         14337 non-null object
venue_country         13261 non-null object
venue_latitude        13261 non-null float64
venue_longitude       13261 non-null float64
venue_name            13261 non-null object
venue_state           13261 non-null object
description_html      14337 non-null bool
description_clean     14337 non-null object
description_none      14337 non-null bool
dtypes: bool(2), float64(9), int64(18), object(18)
memory usage: 4.9+ MB

In [8]:
df['description_html'] = df['description'].apply(lambda x: True if ('</span>' or '</div>') in x else False)

In [9]:
sum(df['description_html'])/len(df['description_html'])
#65% of all descriptions were html

0.6541117388575016

In [10]:
# sum(df['description'].isnull()), sum(df['description_test'].isnull())

In [11]:
# df['description']

In [12]:
from html.parser import HTMLParser

class MLStripper(HTMLParser):
    def __init__(self):
        self.reset()
        self.strict = False
        self.convert_charrefs= True
        self.fed = []
    def handle_data(self, d):
        self.fed.append(d)
    def get_data(self):
        return ''.join(self.fed)

def strip_tags(html):
    s = MLStripper()
    s.feed(html)
    return s.get_data()

In [13]:
#strips HTML documentation
df['description_test'] = df['description'].apply(lambda x: strip_tags(x))

In [14]:
#replaces artifacts from HTML tht didn't get cleaned up through the strip_tags script
df['description_test'] = df['description_test'].apply(lambda x: x.replace('\r',''))

In [15]:
df['description_test'] = df['description_test'].apply(lambda x: x.replace('\n',''))

In [16]:
df['description_test'] = df['description_test'].apply(lambda x: x.replace('</li>',''))

In [17]:
df['description_test'] = df['description_test'].apply(lambda x: x.replace('<li>',' '))

In [18]:
#remove websites
df['description_test'] = df['description_test'].apply(lambda x: re.sub(r'www\.\S+\.com', '', x, flags=re.MULTILINE))

In [19]:
#remove websites
df['description_test'] = df['description_test'].apply(lambda x: re.sub(r'^https?:\/\/.*[\r\n]*', '', x, flags=re.MULTILINE))

In [20]:
df['description_test'] = df['description_test'].apply(lambda x: re.sub('\S*@\S*\s?','', x))

In [21]:
#remove special characters
df['description_test'] = df['description_test'].apply(lambda x: re.sub('\W+',' ', x ))

In [22]:
# remove numbers from string
df['description_test'] = df['description_test'].apply(lambda x: re.sub(r'\d+', '', x))

In [23]:
# lower case everything
df['description_test'] = df['description_test'].apply(lambda x: x.lower())

In [24]:
words = set(nltk.corpus.words.words())
df['description_test'] = df['description_test'].apply(lambda x: " ".join(w for w in nltk.wordpunct_tokenize(x) if w.lower() in words or not w.isalpha()))

In [36]:
df['description_none']= df['description_test']==''

In [37]:
sum(df['description_none'])

1257

In [ ]:
# nltk.download()
# words = set(nltk.corpus.words.words())
# " ".join(w for w in nltk.wordpunct_tokenize(sent) \
#          if w.lower() in words or not w.isalpha())

In [35]:
df['description_test'][6]

''

In [5]:
df = pd.read_json('data/data.json')

In [6]:
from src.clean_desc import clean_desc

In [7]:
df = clean_desc(df)

In [8]:
df['fraud'] = df['acct_type'].apply(lambda x : True if ('fraudster' or 'fraudster_event') in x else False)

In [32]:
df.groupby('fraud').sum()

,approx_payout_date,body_length,channels,delivery_method,event_created,event_end,event_published,event_start,fb_published,gts,...,sale_duration,sale_duration2,show_map,user_age,user_created,user_type,venue_latitude,venue_longitude,description_html,description_none
fraud,,,,,,,,,,,,,,,,,,,,,
False,17625763477200,50701957,83190,6201.0,17555575297470,17620128580800,1.751014e+13,17616507629700,1798,32371028.73,...,648108.0,703727,11125,5252598,17101750232490,36775,433875.266455,-748831.003261,8977.0,901.0
True,1742559734700,1950990,5365,94.0,1739516143118,1742001205500,1.580932e+12,1741382717400,29,2471200.17,...,16598.0,21392,978,112688,1729781168609,2094,33200.177214,-40070.771110,401.0,356.0

In [28]:
df.groupby('fraud')['description_html'].sum()

fraud
False    8977.0
True     401.0
Name: description_html, dtype: float64

In [36]:
401/sum(df['description_html'])

0.042759650245254854

In [35]:
sum(df['fraud'])/len(df)

0.09018623142916929

In [39]:
356/901

0.3951165371809101

In [91]:
df.isnull().sum()

acct_type             0
approx_payout_date    0
body_length           0
channels              0
country               81
currency              0
delivery_method       16
description           0
email_domain          0
event_created         0
event_end             0
event_published       99
event_start           0
fb_published          0
gts                   0
has_analytics         0
has_header            5409
has_logo              0
listed                0
name                  0
name_length           0
num_order             0
num_payouts           0
object_id             0
org_desc              0
org_facebook          59
org_name              0
org_twitter           59
payee_name            0
payout_type           0
previous_payouts      0
sale_duration         155
sale_duration2        0
show_map              0
ticket_types          0
user_age              0
user_created          0
user_type             0
venue_address         0
venue_country         1076
venue_latitude        1076
venue_longitude       1076
venue_name            1076
venue_state           1076
description_html      0
description_clean     0
description_none      0
fraud                 0
dtype: int64

In [92]:
null_list = ['country', 'delivery_method', 'event_published','has_header',
'org_facebook','org_twitter','sale_duration', 'venue_country','venue_latitude', 
'venue_longitude', 'venue_name','venue_state']

In [107]:
df.groupby('country')['fraud'].mean().sort_values(ascending=False)

country
NA    1.000000
PS    1.000000
GH    1.000000
CZ    1.000000
CO    1.000000
IL    1.000000
CN    1.000000
CM    1.000000
JE    1.000000
CI    1.000000
KH    1.000000
CH    1.000000
MA    1.000000
MY    1.000000
DK    1.000000
PH    1.000000
DZ    1.000000
TR    1.000000
SI    1.000000
A1    1.000000
RU    1.000000
VN    0.968750
PK    0.954545
NG    0.857143
ID    0.833333
BG    0.750000
JM    0.666667
AR    0.500000
PT    0.500000
QA    0.500000
        ...
US    0.067035
BE    0.055556
CA    0.041997
ES    0.037037
AU    0.020216
CR    0.000000
AT    0.000000
AE    0.000000
BB    0.000000
BS    0.000000
ZA    0.000000
EC    0.000000
PE    0.000000
VI    0.000000
VE    0.000000
UY    0.000000
TJ    0.000000
TH    0.000000
SG    0.000000
SE    0.000000
NI    0.000000
GR    0.000000
MX    0.000000
LB    0.000000
KE    0.000000
IT    0.000000
IM    0.000000
IE    0.000000
HU    0.000000
IS    0.000000
Name: fraud, Length: 72, dtype: float64

In [9]:
from urllib.request import urlopen
import json

def getplace(lat, lon):
    key = "AIzaSyDCozT30gSPmfsh_c7S4Qq1Q9svmiKvwtM"
    url = "https://maps.googleapis.com/maps/api/geocode/json?"
    url += "latlng=%s,%s&sensor=false&key=%s" % (lat, lon, key)
    v = urlopen(url).read()
    j = json.loads(v)
    components = j['results'][0]['address_components']
    country = town = None
    for c in components:
        if "country" in c['types']:
            country = c['long_name']
        if "postal_town" in c['types']:
            town = c['long_name']

    return country

In [ ]:
df['google_country'] = "unknown"
for i in range(0,len(df)):
    try:
        df['google_country'][i] = getplace(df['venue_latitude'][i],df['venue_longitude'][i])
    except:
        continue

/Users/ian/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [ ]:
df['google_country']

In [ ]:
# df[df['country'].isnull()]

In [ ]:
df['delivery_method']