In [129]:
# %load helper_functions
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)

import seaborn as sns
import nltk
nltk.download('words')
pd.set_option('max_colwidth', 40)
import os
from sklearn.feature_extraction.text import TfidfVectorizer
nltk.download('stopwords')
from nltk.corpus import stopwords
import string
sws = set(stopwords.words('english'))
punctuation = set(string.punctuation)

def user_event_count():
    df['user_event_count'] = df.groupby('user_created').count().max(axis=1)
    return df


def previous_payouts(df):
    new_df=pd.DataFrame(df.previous_payouts[0])
    for i in range(1,df.previous_payouts.shape[0]):
        df_element=pd.DataFrame(df.previous_payouts[i])
        new_df=pd.concat([new_df, df_element])
    return new_df

def user_df():
    unique_cols = []
    for col in columns:
        if unique_col_indicator(df,col):
            unique_cols.append(col)
    user_unique_events = df.groupby('user_created').count().max(axis=1)
    user_unique_events = pd.DataFrame(user_unique_events,columns=['user_event_count'])
    return df[unique_cols].merge(user_unique_events,how='inner',on='user_created')

def unique_col_indicator(df,col):
    try:
        col_count = df.groupby(['user_created',col])['channels'].count().shape[0]
        user_count = df.groupby(['user_created'])['channels'].count().shape[0]
        if col_count == user_count:
            return True
        else:

            return False
    except:
        pass

    
#check
def user_unique_events_col():
    user_unique_events = df.groupby('user_created').count().max(axis=1)
    user_unique_events =  pd.DataFrame(user_unique_events,columns=['user_event_count'])
    return df.merge(user_unique_events,how='inner',on='user_created')

#check
def create_target():
    df['fraud'] = df['acct_type'].map({'fraudster_event': 1,
                                   'premium': 0,
                                   'spammer_warn': 0,
                                   'fraudster': 1,
                                   'spammer_limited': 0,
                                   'spammer_noinvite': 0,
                                   'locked': 1,
                                   'tos_lock': 0,
                                   'tos_warn': 0,
                                   'fraudster_att': 1,
                                   'spammer_web': 0,
                                   'spammer': 0})
    return df

from datetime import datetime

#check
def convert_date():
    df["approx_payout_date"] = pd.to_datetime(df["approx_payout_date"], unit = 's')
    df["event_created"] = pd.to_datetime(df["event_created"], unit = 's')
    df["event_end"] = pd.to_datetime(df["event_end"], unit = 's')
    df["event_start"] = pd.to_datetime(df["event_start"], unit = 's')
    df["event_published"] = pd.to_datetime(df["event_published"], unit = 's')
    return df

def low_cor_cols(r_score):
    df[num_cols()].corr()[['fraud']].values
    corr_df = df[num_cols()].corr()[['fraud']].sort_values('fraud')
    low_corr_mask = corr_df.sort_values('fraud').abs().lt(r_score).values.reshape(1,-1)[0]
    return corr_df[low_corr_mask]

def get_corrs():
    corr_df = df[num_cols()].corr()[['fraud']].sort_values('fraud')
    return corr_df

def num_cols():
    return df.describe().columns

def drop_cols():
    df1 = df.drop(low_cor_cols(.09).index.tolist(),axis=1)
    df2 = df1.drop(['acct_type','sale_duration','fraud','event_start',
                    'event_published','event_end','venue_state','ticket_types'],axis=1)
    
    return df2

#check
def description_cols():
    import clean_desc
    df['description'] = df['description'].apply(strip_tags)
    clean_desc(df)
    return df

#check
def ticket_types(df):
    new_df=pd.DataFrame(df.ticket_types[0])
    result_df=new_df[['quantity_sold', 'quantity_total', 'event_id']].groupby('event_id').sum()
    result_df=result_df.join(new_df[['availability', 'cost', 'event_id']].groupby('event_id').mean())

    for i in range(1,df.shape[0]):
        try:
            df_element=pd.DataFrame(df.ticket_types[i])
            grp_ele_df=df_element[['quantity_sold', 'quantity_total', 'event_id']].groupby('event_id').sum()
            grp_ele_df=grp_ele_df.join(df_element[['availability', 'cost', 'event_id']].groupby('event_id').mean())
            result_df=pd.concat([result_df, grp_ele_df])

        except:
            continue
    result_df.reset_index(inplace=True)
    result_df.columns=['object_id', 'quantity_sold', 'quantity_total', 'availability', 'cost']
    final_df=df.set_index('object_id').join(result_df.set_index('object_id'))
    final_df.reset_index(inplace=True)
    final_df[['quantity_sold', 'quantity_total','availability', 'cost']]=final_df[['quantity_sold', 'quantity_total','availability', 'cost']].fillna(0)
    return final_df

def timedelta(field):
    return field.days

def event_times():
    df['publish_time_to_start'] =  df['event_published'] - df['event_created'] 
    df['publish_time_to_start'] = df['publish_time_to_start'].apply(timedelta)
    return df

def has_venue_data():
    df['has_state'] = (df['venue_state'].fillna('None').replace('','None') == 'None').astype(int)
    df['has_country'] = (df['venue_country'].fillna('None').replace('','None') == 'None').astype(int)
    df['has_address'] = (df['venue_address'].fillna('None').replace('','None') == 'None').astype(int)
    df['has_venue_name'] = (df['venue_name'].fillna('None').replace('','None') == 'None').astype(int)
    return df

[nltk_data] Downloading package words to /home/ubuntu/nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package stopwords to /home/ubuntu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)

import seaborn as sns
import nltk
nltk.download('words')
pd.set_option('max_colwidth', 40)
import os
from sklearn.feature_extraction.text import TfidfVectorizer
nltk.download('stopwords')
from nltk.corpus import stopwords
import string
sws = set(stopwords.words('english'))
punctuation = set(string.punctuation)
from  helper_functions import user_event_count,\
                                ticket_types,\
                                previous_payouts,\
                                user_df,\
                                unique_col_indicator,\
                                create_target,\
                                convert_date,\
                                low_cor_cols,\
                                drop_cols,\
                                description_cols,\
                                ticket_types

[nltk_data] Downloading package words to /home/ubuntu/nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package stopwords to /home/ubuntu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package words to /home/ubuntu/nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package stopwords to /home/ubuntu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [29]:
df = pd.read_json('data/data.json').drop('description',axis=1)
df = ticket_types(df)

In [35]:
df = convert_date()

In [31]:
df = create_target()

In [32]:
df = user_unique_events_col()

In [89]:
df = event_times()

In [94]:
num_cols()

Index(['object_id', 'body_length', 'channels', 'delivery_method',
       'fb_published', 'gts', 'has_analytics', 'has_header', 'has_logo',
       'name_length', 'num_order', 'num_payouts', 'org_facebook',
       'org_twitter', 'sale_duration', 'sale_duration2', 'show_map',
       'user_age', 'user_created', 'user_type', 'venue_latitude',
       'venue_longitude', 'quantity_sold', 'quantity_total', 'availability',
       'cost', 'fraud', 'user_event_count', 'event_duration',
       'publish_time_to_start'],
      dtype='object')

In [120]:
drop_cols()

,approx_payout_date,body_length,channels,country,currency,delivery_method,email_domain,event_created,fb_published,has_logo,listed,name,name_length,org_desc,org_facebook,org_name,org_twitter,payee_name,payout_type,previous_payouts,sale_duration2,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_name,venue_state,availability,event_duration
0,2010-02-13 12:00:00,3852,5,US,USD,0.0,gmail.com,2010-01-06 01:01:46,0,0,y,"99 HOUR ""NO SLEEP"" SUPER BOWL CELEBR...",60,,0.0,Party Starz Ent & Diverse Int'l Group,0.0,,,[],33,"[{'event_id': 527017, 'cost': 25.0, ...",36,1259613950,1,717 Washington Avenue,US,INK Nightclub - South Beach,FL,1.0,33
1,2012-01-19 14:00:00,3561,8,US,USD,0.0,gmail.com,2011-12-28 19:21:18,0,1,y,THE KING OF R & B MEETS THE KING OF ...,90,,0.0,,0.0,,ACH,"[{'name': 'PARTY STARZ ENT INC', 'cr...",16,"[{'event_id': 2687179, 'cost': 50.0,...",758,1259613950,1,17800 NE 5TH AVE,US,,,1.0,16
2,2011-10-13 12:00:00,533,8,US,USD,0.0,gmail.com,2011-10-07 04:59:28,0,1,y,R.KELLY LIVE UPCLOSE AND PERSONAL @ ...,88,"<p><strong></strong><span class=""tex...",17.0,PARTY STARZ & BUGATTE WORLD ENT,14.0,,,[],1,"[{'event_id': 2296426, 'cost': 0.0, ...",675,1259613950,1,1045 5th street,US,CLUB PLAY,FL,1.0,1
3,2012-06-21 11:00:00,630,8,US,USD,0.0,gmail.com,2012-05-07 20:56:17,0,1,y,"2NIGHT! 2NIGHT! ""X-RATED"" WEDNESDAY'...",67,,0.0,"PARTY STARZ ENT INC,",0.0,,,[],9,"[{'event_id': 3500119, 'cost': 10.0,...",889,1259613950,1,2700 NW 167 ST,US,PALM GARDENS,FL,1.0,39
4,2012-06-02 11:00:00,990,5,US,USD,0.0,gmail.com,2012-05-01 22:02:25,0,1,y,MR.WOBBLE BABY!*ALL-WHITE* GROWN & S...,89,,0.0,"THE ALL NEW ""PALM GARDENS""",0.0,,ACH,"[{'name': 'PARTY STARZ ENT INC', 'cr...",26,"[{'event_id': 3464783, 'cost': 10.0,...",883,1259613950,1,2700 NW 167 ST,US,PALM GARDENS,FL,1.0,26
5,2011-12-18 12:00:00,1478,8,US,USD,0.0,gmail.com,2011-12-03 03:28:41,0,1,y,CHRISETTE MICHELLE CELEBRITY BIRTHDA...,59,"<p><strong></strong><span class=""tex...",17.0,PARTY STARZ & BUGATTE WORLD ENT,14.0,,,[],10,"[{'event_id': 2589732, 'cost': 20.0,...",732,1259613950,1,8358 PINES BLVD,US,CAFE IGUANAS,FL,1.0,10
6,2012-05-06 06:30:00,8836,6,US,USD,0.0,gmail.com,2012-04-27 19:21:37,0,1,y,2NITE! 2NITE! HEAT VS KNICKS PLAYOFF...,188,"<table style=""width: 421px; height: ...",0.0,PALM GARDENS,0.0,,,[],3,"[{'event_id': 3441863, 'cost': 20.0,...",879,1259613950,1,2700 NW 167 ST,,,,1.0,3
7,2012-08-10 13:00:00,649,8,US,USD,0.0,gmail.com,2012-07-19 05:13:38,0,1,y,Rick! Ross! Album Release! Party & C...,171,"<p><span style=""font-size: medium;"">...",0.0,NELSON INC.....,0.0,,,[],17,"[{'event_id': 3939892, 'cost': 0.0, ...",961,1259613950,1,17800 NE 5TH,,KING OF DIAMONDS,,1.0,17
8,2012-01-06 12:00:00,593,8,US,USD,0.0,gmail.com,2011-12-20 17:54:31,0,1,y,ATTENTION! ATTENTION! NEW LOCATION F...,165,"<p><strong></strong><span class=""tex...",17.0,PARTY STARZ & BUGATTE WORLD ENT,14.0,,,[],11,"[{'event_id': 2629715, 'cost': 25.0,...",750,1259613950,1,12389 PEMBROKE ROAD,US,GRAND CAFE BAR & GRILL,FL,1.0,11
9,2010-02-13 18:00:00,45882,8,US,USD,0.0,gmail.com,2009-11-30 20:45:54,1,1,y,"99 HOUR ""NO SLEEP"" SUPER BOWL CELEBR...",72,,0.0,Party Starz Ent & Diverse Int'l Group,0.0,,,[],66,"[{'event_id': 501276, 'cost': 250.0,...",0,1259613950,1,6701 COLLINS AVE,US,DEAUVILLE BEACH RESORT,,1.0,69
10,2010-03-26 23:00:00,913,0,US,USD,0.0,gmail.com,2010-02-09 04:02:47,0,0,y,NAKKED HUSTLE THURSDAY,22,,0.0,COCO'S,0.0,,,[],41,"[{'event_id': 566577, 'cost': 25.0, ...",70,1259613950,1,,US,1430 nw 119 street,FL,1.0,40
11,2012-02-23 12:00:00,915,8,US,USD,0.0,gmail.com,2012-02-13 19:14:56,0,1,y,TRINA LIVE @ G5IVE FRIDAY FEB.17th ...,79,"<p><strong><span style=""font-size: m...",0.0,MIAMI (DWO) & PARTY STARZ ENT INC,0.0,,,[],4,"[{'event_id': 2946985, 'cost': 0.0, ...",805,1259613950,1,337 NE 170 ST,US,G 5IVE,FL,1.0,4
12,2012-06-15 23:00:00,0,0,US,USD,0.0,gmail.com,2012-05-01 21:41:29,0,1,y,"""NFL SUPER STAR"" WILLIS McGAHEE! MOT...",94,"<p>FOR THE FIRST TIME IN 10YRS.....""...",0.0,PARTY STARZ ENT & Z CODE ENT,0.0,,,[],40,[],883,1259613950,1,,None,None,None,0.0,40
13,2012-07-26 07:00:00,562,6,US,USD,0.0,gmail.com,2012-06-11 22:22:17,0,1,y,LETS! GO HEAT! LETS! GO HEAT! LETS! ...,200,,0.0,"PARTY STARZ ENT INC,",0.0,,,[],1,"[{'event_id': 3715744, 'cost': 20.0,...",924,1259613950,1,2700 NW 167 ST,US,PALM GARDENS,FL,1.0,39
14,2012-04-20 11:00:00,784,6,US,USD,0.0,gmail.com,2012-04-06 22:39:14,0,1,y,EROTICA!!! FASHION & LINGERE SHOW CH...,70,,0.0,,0.0,,,[],8,"[{'event_id': 3306323, 'cost': 10.0,...",858,1259613950,1,2700 NW 167 ST,,,,1.0,8
15,2012-04-04 11:00:00,697,8,US,USD,0.0,gmail.com,2012-03-22 00:39:58,0,1,y,,0,,0.0,,0.0,,,[],8,"[{'event_id': 3193035, 'cost': 0.0, ...",842,1259613950,1,2700 NW 167 ST,US,THE GARDENS,FL,1.0,8
16,2011-10-09 11:00:00,652,8,US,USD,0.0,gmail.com,2011-09-26 07:16:21,0,1,y,"R.KELLY LIVE ,LOVE LETTER ALL-STAR C...",68,"<p><strong></strong><span class=""tex...",17.0,PARTY STARZ & BUGATTE WORLD ENT,14.0,,,[],7,"[{'event_id': 2236248, 'cost': 0.0, ...",665,1259613950,1,8358 PINES BLVD,US,CAFE IGUANAS,FL,1.0,8
17,2012-06-18 11:00:00,750,8,US,USD,0.0,gmail.com,2012-04-25 18:46:01,0,1,y,"99 JAMZ,EZKUT FILMZ ALONGSIDE ACE MA...",100,,0.0,"99 JAMZ,EZKUT FILMZ ALONGSIDE ACE MA...",0.0,,,[],48,"[{'event_id': 3425753, 'cost': 0.0, ...",877,1259613950,1,2700 NW 167 ST,US,THE GARDENS,FL,1.0,48
18,2010-07-16 08:00:00,204,6,US,USD,0.0,gmail.com,2010-07-05 21:35:33,0,0,y,JOKES 'N' THE GARDENS,21,,0.0,JOKES 'N' THE GARDENS,0.0,Jason Phillips,CHECK,"[{'name': 'PARTY STARZ ENT INC', 'cr...",5,"[{'event_id': 751295, 'cost': 10.0, ...",217,1259613950,1,17011 NE 19TH AVE,US,JULIUS LITTMAN THEATHER CENTER,FL,1.0,5
19,2018-04-11 23:00:00,176,5,US,USD,0.0,gmail.com,2012-03-29 21:21:47,0,1,y,"MALCOLM NAIRN THE ""CELEBRITY"" BARBER...",78,,0.0,,0.0,,,"[{'name': 'PARTY STARZ ENT INC', 'cr...",40,"[{'event_id': 3251149, 'cost': 15.0,...",850,1259613950,1,,None,None,None,1.0,2199
20,2012-05-18 11:00:00,1830,6,US,USD,0.0,gmail.com,2012-05-07 00:28:16,0,1,y,"NFL SUPER STAR ""WILLIS McGAHEE"" CELE...",80,,0.0,"PARTY STARZ ENT INC,",0.0,,ACH,"[{'name': 'PARTY STARZ ENT INC', 'cr...",6,"[{'event_id': 3494235, 'cost': 10.0,...",888,1259613950,1,2700 NW 167 ST,US,PALM GARDENS,FL,1.0,6
21,2010-05-15 01:00:00,3683,6,US,USD,0.0,gmail.com,2010-02-19 03:19:30,1,1,y,NUT 'N BUT NET 3 0N 3 BASKETBALL TOU...,43,,0.0,"PALM GARDENS ""HOUSE OF COMEDY""",0.0,,,"[{'name': 'PARTY STARZ ENT INC', 'cr...",79,"[{'event_id': 578293, 'cost': 100.0,...",80,1259613950,1,victory park,US,city of north miami bch,FL,1.0,79
22,2010-07-09 07:30:00,710,8,US,USD,1.0,gmail.com,2010-02-19 06:39:41,0,1,y,<a target='_blank' title='ImageShack...,253,,0.0,,0.0,PARTY STARZ ENT INC,CHECK,"[{'name': 'PARTY STARZ ENT INC', 'cr...",128,"[{'event_id': 578389, 'cost': 10.0, ...",80,1259613950,1,17011 NE 19TH AVE,US,JULIUS LITTMAN THEATHER CENTER,FL,1.0,135
23,2011-11-27 12:00:00,138,8,US,USD,0.0,gmail.com,2011-09-10 20:56:47,0,1,y,MIGUEL LIVE INTIMATE PERFORMANCE NO...,75,"<p><strong></strong><span class=""tex...",17.0,PARTY STARZ & BUGATTE WORLD ENT,14.0,,ACH,"[{'name': 'PARTY STARZ ENT INC', 'cr...",72,"[{'event_id': 1104127, 'cost': 25.0,...",649,1259613950,1,8358 PINES BLVD,US,CAFE IGUANAS,FL,1.0,72
24,2012-05-07 13:00:00,309,6,US,USD,0.0,gmail.com,2012-04-22 15:34:16,0,1,y,"2NITE! 2NITE! ""FUTURE"" MR.TONY MONTA...",99,"<p><span style=""font-size: medium;"">...",0.0,NELSON INC.....,0.0,,,[],9,"[{'event_id': 3400725, 'cost': 0.0, ...",874,1259613950,1,337 NE 170 ST,US,G 5IVE,FL,1.0,9
25,2011-02-03 08:00:00,3499,0,US,USD,1.0,ruf.org,2010-12-31 21:57:50,0,1,n,Winthrop RUF Winter Getaway,27,"<p>Since 1987, RUF has ministered to...",0.0,RUF at Winthrop University,12.0,RUF,CHECK,"[{'name': 'RUF', 'created': '2010-10...",28,"[{'event_id': 786878, 'cost': 35.0, ...",149,1280942776,3,,US,"The Charleston, SC area",SC,1.0,28
26,2011-01-28 00:00:00,2601,8,US,USD,1.0,pvsd.k12.ca.us,2010-11-30 04:22:36,0,0,y,DRDP (2010) Teacher Training,28,"<p><a href=""http://www.desiredresult...",0.0,University Preparation School in col...,0.0,University Preparation School,CHECK,"[{'name': 'Danielle Severn', 'create...",54,"[{'event_id': 787337, 'cost': 93.51,...",214,1272559388,3,10100 Pioneer Blvd Suite 100,US,Los Angeles County Office of Education,CA,1.0,53
27,2013-08-15 22:30:00,3462,11,US,USD,0.0,pvsd.k12.ca.us,2013-06-24 16:52:43,0,0,y,Meaningful Observations in the Presc...,57,"<p><a href=""http://www.desiredresult...",0.0,University Preparation School in col...,0.0,West Ed,CHECK,"[{'name': 'Danielle Severn', 'create...",47,"[{'event_id': 7190519, 'cost': 93.51...",1152,1272559388,3,1401 W Valencia Dr,US,Fullerton School District,CA,1.0,47
28,2012-05-05 23:00:00,2976,8,US,USD,1.0,pvsd.k12.ca.us,2012-03-15 17:26:45,0,1,y,DRDP training for Infant/Toddler Apr...,47,"<p><a href=""http://www.desiredresult...",0.0,University Preparation School in col...,0.0,University Preparation School,CHECK,"[{'name': 'Danielle Severn', 'create...",46,"[{'event_id': 2993171, 'cost': 93.51...",686,1272559388,3,710 E.111th place,US,Kedern Early Head Start,CA,1.0,46
29,2011-02-01 00:00:00,2601,8,US,USD,1.0,pvsd.k12.ca.us,2010-12-06 00:52:23,0,0,y,DRDP (2010) Teacher Training,28,,0.0,,0.0,University Preparation School,CHECK,"[{'name': 'Danielle Severn', 'create...",52,"[{'event_id': 1099867, 'cost': 93.51...",220,1272559388,3,1833 E. Street,US,Fresno Unified School District Cente...,CA,1.0,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14307,2013-03-08 12:00:00,1750,0,US,USD,1.0,yahoo.com,2012-12-01 00:53:42,0,1,n,A PISCES AFFAIR,15,,0.0,Empress of Impress Ent.,0.0,,ACH,"[{'name': '', 'created': '2013-03-08...",92,"[{'event_id': 4940763, 'cost': 40.0,...",0,1354322389,3,1620 N. Federal Highway,US,,,1.0,92
14308,2013-01-10 06:00:00,233,6,US,USD,0.0,dynamitecomedy.com,2012-12-03 00:06:09,0,0,y,Dynamite Comedy at Redlands 1/4/13,34,<p><a,14.0,Dynamite Comedy,15.0,,ACH,"[{'name': '', 'created': '2013-01-09...",33,"[{'event_id': 4946901, 'cost': 10.0,...",0,1354491065,1,123 Cajon St,US,Fox Event Center,CA,1.0,33
14309,2012-12-21 12:00:00,377,6,US,USD,0.0,qbpromotions.com,2012-12-06 02:55:33,0,1,y,Party Crew Invasion 2012,24,,0.0,QB Promotions & Consulting,0.0,,ACH,"[{'name': '', 'created': '2012-12-21...",10,"[{'event_id': 4974118, 'cost': 55.71...",0,1354762531,1,,US,Party Bus from OKC's Bricktown to Cl...,OK,1.0,10
14310,2013-01-30 20:00:00,1541,11,US,USD,0.0,gmail.com,2012-12-11 14:07:42,0,1,y,Insights & Interventions: Understan...,69,<p>A local chapter of Texas Counseli...,0.0,Big Country Counseling Association (...,0.0,BCCA,CHECK,"[{'name': 'BCCA', 'created': '2011-1...",45,"[{'event_id': 5006768, 'cost': 3.73,...",464,1315141632,3,1850 Hwy 351,US,Region XIV Service Center - Eastland...,TX,1.0,45
14311,2013-04-05 20:00:00,2842,8,US,USD,1.0,gmail.com,2012-12-11 14:47:22,0,1,n,2012-2013 Darnell Cookman PTSA Membe...,41,,19.0,Darnell Cookman PTSA,0.0,,ACH,"[{'name': '', 'created': '2011-06-30...",0,"[{'event_id': 5007068, 'cost': 14.0,...",550,1307721830,1,,None,None,None,1.0,110
14312,2013-01-25 07:00:00,1982,11,US,USD,0.0,realbad.org,2012-12-16 20:59:11,0,1,y,Kickoff Benefit Honoring the 25th Ye...,50,<p>Grass Roots Gay Rights West (GRGR...,7.0,GRGR/West,0.0,,ACH,"[{'name': '', 'created': '2013-01-24...",34,"[{'event_id': 5038960, 'cost': 70.26...",0,1355691549,3,,US,Home of Mark Pellegrino and Stuart Kent,CA,1.0,34
14313,2013-02-12 05:30:00,742,5,US,USD,0.0,gmail.com,2012-12-20 23:52:45,0,1,y,Opera Show SONGS OF LOVE,24,"<div style=""color: #222222; font-fam...",13.0,Music And Arts Management,0.0,,ACH,"[{'name': '', 'created': '2013-02-12...",48,"[{'event_id': 5072358, 'cost': 35.0,...",0,1356047564,1,330 Seventh Avenue,US,Opera America,NY,1.0,48
14314,2013-01-16 18:00:00,1005,11,US,CAD,0.0,tlbartch.ca,2012-12-21 00:22:37,0,1,y,1st EPIC Breakfast of Champions! HOO...,49,"<p><img alt="""" width=""640"" height=""...",16.0,TL Bartch,9.0,,ACH,"[{'name': 'Bartch Mentoring Corp', '...",22,"[{'event_id': 5072450, 'cost': 17.81...",134,1344472208,3,5150 Westheimer Road,US,JW Marriott Houston - Host Hotel,TX,1.0,21
14315,2013-04-18 05:00:00,5181,6,US,USD,0.0,eventsremember.com,2012-12-21 00:16:10,1,1,y,Sassy Ladies Shopping Night Out NORW...,42,"<p>Events To Remember, a division of...",8.0,"Events To Remember, a division of Ev...",15.0,,ACH,"[{'name': '', 'created': '2013-04-10...",113,"[{'event_id': 5072454, 'cost': 15.0,...",1386,1236296165,4,789 Connecticut Avenue,US,The DoubleTree by Hilton - Norwalk,CT,1.0,113
14316,2013-04-11 05:00:00,4706,6,US,USD,0.0,eventsremember.com,2012-12-21 00:47:45,1,1,y,Sassy Ladies Shopping Night Out AUGU...,42,"<p>Events To Remember, a division of...",8.0,"Events To Remember, a division of Ev...",15.0,,ACH,"[{'name': '', 'created': '2013-04-10...",106,"[{'event_id': 5072566, 'cost': 10.0,...",1386,1236296165,4,2651 Perimeter Parkway,US,The DoubleTree by Hilton Hotel - Aug...,GA,1.0,106
14317,2013-04-25 04:00:00,329,12,US,USD,1.0,verizon.net,2012-12-30 08:34:06,0,1,y,Beryl Heights Elementary School PTA ...,75,"<p align=""center""><img alt="""" width...",24.0,"<p align=center><span style=""font-fa...",0.0,Beryl Heights PTA,CHECK,"[{'name': 'Beryl Heights PTA', 'crea...",110,"[{'event_id': 5104498, 'cost': 0.0, ...",335,1327957831,3,"1 Sea Hawk Way, Redondo Beach CA 9...",,Redondo Union High School,,1.0,110
14318,2013-03-06 00:00:00,2267,8,US,USD,0.0,iheartcurry.com,2013-01-04 18:56:53,1,1,y,Indian Cooking Class Gift Certificates,39,"<p><span style=""font-size: large;"">F...",11.0,I Heart Curry,14.0,,ACH,"[{'name': '', 'created': '2012-01-20...",55,"[{'event_id': 5137486, 'cost': 112.4...",368,1325576543,3,,US,,,1.0,55
14319,2013-02-14 23:00:00,2233,4,GB,GBP,0.0,manchestercakeclub.co.uk,2013-01-08 23:10:30,0,1,y,Cake in the City - cake tasting even...,59,,0.0,,0.0,,ACH,"[{'name': '', 'created': '2012-12-04...",32,"[{'event_id': 5170366, 'cost': 8.75,...",407,1322474952,3,Landing Building,GB,,,1.0,31
14320,2013-02-19 02:00:00,44,0,,USD,0.0,usa.com,2013-01-11 22:26:21,0,1,y,musical jamboree,16,,NaN,kwame djan,NaN,,,[],2,"[{'event_id': 5203138, 'cost': 500.0...",0,1357941170,3,700 Lafayette St,US,Beacon Hall Events Center,CT,1.0,33
14321,2013-04-14 20:30:00,4430,5,US,USD,0.0,doingbusinesstoday.com,2013-01-11 22:20:02,0,1,y,Organization & Productivity: Managin...,74,"<p class="" description current-posit...",18.0,Doing Business Today,16.0,Doing Business Today,CHECK,"[{'name': '', 'created': '2012-04-17...",61,"[{'event_id': 5203382, 'cost': 36.81...",606,1305601621,4,Second Floor Conference Room,US,Doing Business Today,CA,1.0,87
14322,2013-03-18 05:00:00,7444,8,US,USD,1.0,ibethel.org,2013-01-14 09:32:32,0,1,y,Charlotte Night of Worship & Ministry,37,<p><strong><br>BETHEL MUSIC</strong>...,12.0,Bethel Music,12.0,,ACH,"[{'name': '', 'created': '2012-05-24...",57,"[{'event_id': 5214384, 'cost': 15.0,...",362,1326959165,3,8835 Blakeney Professional Dr,US,Elevation Blakeney,NC,1.0,57
14323,2013-02-11 03:30:00,4999,8,US,USD,0.0,JourneyingFree.com,2013-01-16 00:41:26,0,1,y,Considering or Committed to Making P...,53,"<p style=""text-align: left;""><strong...",15.0,JourneyingFree,0.0,,ACH,"[{'name': '', 'created': '2013-02-10...",21,"[{'event_id': 5236400, 'cost': 15.0,...",33,1355437639,4,18271 West McDurmott,US,,CA,1.0,21
14324,2013-03-01 00:00:00,600,11,US,USD,1.0,trinitychurchmp.com,2013-01-26 04:15:05,1,0,y,Becoming a Stretcher Bearer,27,"<p style=""margin-right: 1.6pt; line-...",0.0,Trinity Church of the Nazarene,0.0,Trinity Church of the Nazarene,CHECK,[{'name': 'Trinity Church of the Naz...,29,"[{'event_id': 5247262, 'cost': 17.91...",9,1358378426,3,1951 S Garfield Ave,US,Trinity Church of the Nazarene,CA,1.5,28
14325,2013-08-03 00:00:00,831,9,US,USD,1.0,abdcycling.com,2013-06-14 03:53:00,0,1,y,2013 Winfield Criterium Weekend,31,<p>Athletes By Design (ABD) Cycle Cl...,10.0,ABD Cycle Club,10.0,ABD Cycle Club,CHECK,"[{'name': 'ABD Cycle Club', 'created...",44,"[{'event_id': 5268524, 'cost': 25.0,...",149,1358277129,3,,US,"Winfield, IL",IL,1.0,44
14326,2013-02-02 06:00:00,448,0,US,USD,0.0,gmail.com,2013-01-23 21:07:58,0,1,n,The NYC Speed Dating Expose,27,"We help those who are single, lookin...",0.0,Dating NYC,0.0,,,[],4,"[{'event_id': 5307036, 'cost': 55.0,...",0,1358975276,1,94 West Houston Street,US,Madame X,NY,1.0,4
14327,2013-02-18 06:00:00,905,12,GB,GBP,0.0,newcastle-cu.com,2013-01-25 11:52:18,0,1,y,Three Witnesses,15,,0.0,Newcastle University Christian Union...,0.0,,ACH,"[{'name': '', 'created': '2013-02-17...",18,"[{'event_id': 5323578, 'cost': 2.17,...",0,1359114737,1,Melbourne Street,GB,The CastleGate,Newcastle Upon Tyne,1.0,18
14328,2013-06-13 22:00:00,0,11,US,USD,1.0,yahoo.com,2013-01-26 20:47:11,0,1,y,Motorcycle Show & Swap Meet,27,,51.0,Boy Scout Troop 469,0.0,,ACH,"[{'name': '', 'created': '2013-04-16...",133,"[{'event_id': 5334600, 'cost': 8.51,...",0,1359232544,3,4040 Division Street,US,Saratoga School,IL,1.0,133
14329,2013-03-01 13:30:00,10108,6,US,USD,0.0,gmail.com,2013-01-28 20:20:38,0,1,y,"LEGION FETISH EVENTS PRESENTS ""KINK ...",49,,18.0,Legion Fetish Events,12.0,,ACH,"[{'name': '', 'created': '2013-03-01...",26,"[{'event_id': 5348476, 'cost': 10.0,...",231,1339442907,1,401 Southwest 3rd Avenue,US,FINNEGAN'S RIVER,FL,1.0,26
14330,2013-02-05 07:30:00,996,0,US,USD,0.0,gmail.com,2013-01-28 23:30:21,0,1,n,Inner City Childrens Advocacy Cente...,45,"<p>Arthur Taylor..&nbsp;&nbsp; ""High...",0.0,"Arthur Taylor.. ""High Society""",0.0,,,[],2,"[{'event_id': 5350990, 'cost': 649.6...",0,1359415820,1,3280 Peachtree Rd NE,US,AQUANOX,GA,1.0,2
14331,2013-05-02 05:00:00,541,8,,EUR,0.0,sbm.ie,2013-01-30 12:38:30,1,1,y,"Sandie Byrne Medium, Ennis, April 26...",43,,17.0,Sandie Byrne Medium,13.0,,ACH,"[{'name': '', 'created': '2013-04-24...",86,"[{'event_id': 5367108, 'cost': 10.0,...",3,1359314015,3,Clare Road,IE,West County Hotel,Clare,1.0,86
14332,2013-03-15 05:00:00,240,11,US,USD,0.0,gmail.com,2013-02-02 16:56:24,1,1,y,"""Evening of Sheer Elegance"" Fashion ...",40,,56.0,Center for Spritual Living - C.O.L.O...,14.0,Center for Spiritual Living- C.O.L.O...,CHECK,[{'name': 'Center for Spiritual Livi...,35,"[{'event_id': 5400186, 'cost': 8.46,...",599,1308080253,1,5420 Kimmerly Glen Ln,US,Center for Spiritual Living- C.O.L.O...,NC,1.0,35
14333,2013-02-24 07:00:00,667,0,US,USD,0.0,yahoo.com,2013-02-08 04:33:13,0,1,n,President's Day Celebration,27,,0.0,,0.0,,,[],11,"[{'event_id': 5456442, 'cost': 45.0,...",0,1360297993,1,6100 North Charles Street,US,Elkridge Club,MD,1.0,11
14334,2013-04-10 04:00:00,5812,5,US,USD,1.0,me.com,2013-02-08 23:44:02,0,0,y,ARCS Foundation 2013 Scientist of th...,42,"<p><span style=""font-family: arial,h...",0.0,"ARCS Foundation, Inc., San Diego Cha...",0.0,"ARCS Foundation Inc., San Diego Chapter",CHECK,"[{'name': 'ARCS Foundation Inc., San...",55,"[{'event_id': 5465112, 'cost': 90.0,...",1374,1241625346,4,1775 E Mission Bay Dr,US,Hilton San Diego Resort and Spa (Hil...,CA,1.0,55
14335,2013-05-17 09:00:00,557,13,,USD,0.0,yahoo.com,2013-02-11 16:32:10,1,1,y,TIFFANTASY ENTERTAINMENT PRESENTS: R...,67,,0.0,Tiffantasy Entertainment,0.0,,ACH,"[{'name': '', 'created': '2013-05-16...",89,"[{'event_id': 5465732, 'cost': 20.0,...",84,1353386971,4,5991 Bullard Road,US,Fleur De Lis Ballroom NUMBER 2,LA,1.0,89
14336,2013-03-15 03:00:00,0,0,GB,GBP,0.0,gmail.com,2013-02-12 16:34:06,0,1,n,thaimassage,11,,0.0,ali osman,0.0,,ACH,[],0,"[{'event_id': 5492990, 'cost': 283.0...",0,1360686845,1,192 Pembroke Street,GB,massage salon private house,"Bristol, City Of",1.0,25

In [128]:
def has_venue_data():
    df['has_state'] = (df['venue_state'].fillna('None').replace('','None') == 'None').astype(int)
    df['has_country'] = (df['venue_country'].fillna('None').replace('','None') == 'None').astype(int)
    df['has_address'] = (df['venue_address'].fillna('None').replace('','None') == 'None').astype(int)
    df['has_venue_name'] = (df['venue_name'].fillna('None').replace('','None') == 'None').astype(int)
    return df

0        0
1        1
2        0
3        0
4        0
5        0
6        1
7        1
8        0
9        1
10       0
11       0
12       1
13       0
14       1
15       0
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
14307    1
14308    0
14309    0
14310    0
14311    1
14312    0
14313    0
14314    0
14315    0
14316    0
14317    1
14318    1
14319    1
14320    0
14321    0
14322    0
14323    0
14324    0
14325    0
14326    0
14327    0
14328    0
14329    0
14330    0
14331    0
14332    0
14333    0
14334    0
14335    0
14336    0
Name: venue_state, Length: 14337, dtype: int64